*
{
    margin: 0;
    padding: 0;
}
body
{
   font-family:sans-serif ;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10 ;
}
.navbar
{
    background-image:linear-gradient(to right,#a517ba,#5f1782) ;
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: bold;
    float: right;
    text-align: left;
}
.fa-bars

{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}
#banner
{
    background-image:linear-gradient(to right,#a517ba,#5f1782) ; 
    color: #fff;
    padding-top: 5%;
}
h1
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn
{
    width: 45px;
    margin: 20px;
}
#banner a
{
    color: #fff;
    text-decoration: none;
}
.bottom-img 
{
    width: 100%;
}
/*------------------Services section--------------*/
#services
{
    padding: 80px;

}
.services-img
{
    width: 100px;
    margin-top: 30px;
}
.services
{
    padding: 20px;
}
h2
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    
}
h1::before
{
    content: '';
    background:#7b1798 ;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    transform: translateY(60px);
}
h1::after
{
    content: '';
    background:#7b1798 ;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50px;
    transform: translateY(5px);
    margin-bottom: 40px;
}
.btn-primary
{
        box-shadow: none;
        padding: 8px 25px;
        border: none;
        border-radius: 20px;
        background-image: linear-gradient(to right,#a517ba,#5f1782) ;
}
/*-----------about-us section----*/
#about-us
{
    background: #f8f9fa;
    padding-bottom:50px ;
    padding-top: 50px;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li 
{
    margin-left: 20px;
}
#testimonials
{
    margin: 100px 0;
}
.testimonials
{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px ;
}
.testimonials img
{
    height: 50px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.team_thumb3-details
{
    display: inline-block;
    font-size: 12px;
}
#social-media
{
    background: #f8f9fa;
    padding:100px 0 ;
}
#social-media h4


{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;

}
.social-icons img
{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img
{
    transform: translateY(-10px);
    margin-left: 30px;
}
#footer
{
    background-image: linear-gradient(to right,#a517ba,#5f1782) ;
    color: #fff;
    width: 100%;
}
.footer-img
{
    width: 100%;
}
.footer-box
{
    padding: 20px;
}
.footer-box img
{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa
{
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-right:8px ;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right,#a517ba,#5f1782);

}
.footer-box  .form-control
{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box  .btn-primary
{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    
}
hr
{
    background-color: black;
}
.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}





























